{% extends "members/base.html" %}
{% block title %}
    Album Details
{% endblock %}
{% block body %}

    {% if all_batches %}
        <h3>Here are all my batchs</h3>
        <ul>
            {% for batch in all_batches %}
                <!-- hard coded url not required -->
                <!--  <li><a href="/music/{{ batch.id }}/">{{ batch.batch_title }}</a></li>-->
                <!-- name of the url is used to reference a url here
                /music/<batch_id>/   name=detail can be used to reference this url where batch_id is variable
                # see urls.py for more
                it helpful in the case when ever we want to change the url structure for getting detail of a song ,,, so only change in urls.py
                -->
                <li><a href="{% url 'members:batchDetail' batch.id %}">{{ batch.batch_title }}</a></li>
            {% endfor %}

        </ul>
    {% else %}
        <h3>You dont have any batchs</h3>
    {% endif %}

{% endblock %}